<h2>Contato</h2>
<p>Email: <a href="mailto:luizrhavell41&#64;gmail.com">luizrhavell41&#64;gmail.com</a></p>
<p>Tel: 61-98661-4103</p>
<p>Endereço: Qd 103 lt 18 centro Santo Antonio do Descoberto - Goias</p>
<p>LinkedIn: <a href="https://www.linkedin.com/feed/?trk=404_page">Luiz-Rhavell</a></p>

<button (click)="abrirLink('mailto:luizrhavell41&#64;gmail.com')">Enviar Email</button>
<button (click)="abrirLink('tel:61-98661-4103')">Ligar</button>
<button (click)="abrirLink('https://www.linkedin.com/feed/?trk=404_page')">LinkedIn</button>