<h2>Projetos</h2>
<ul>
  <li>
    <h3>Projeto 1: Sistema de Gerenciamento de Tarefas</h3>
    <p>Descrição: Este projeto é um sistema de gerenciamento de tarefas desenvolvido com Angular. Ele permite que os usuários criem, editem e excluam tarefas, além de marcar tarefas como concluídas. O sistema utiliza um backend em Node.js para armazenar os dados em um banco de dados MongoDB.</p>
    <p>Tecnologias Utilizadas: Angular, Node.js, Express, MongoDB</p>
    <p>Link para o Projeto: <a href="https://github.com/seu-usuario/gerenciamento-de-tarefas" target="_blank">https://github.com/Rhavell</a></p>
  </li>
  <li>
    <h3>Projeto 2: Aplicativo de Receitas</h3>
    <p>Descrição: Este projeto é um aplicativo de receitas onde os usuários podem procurar, visualizar e salvar suas receitas favoritas. O aplicativo possui uma interface amigável e responsiva, desenvolvida com Angular e Bootstrap. Os dados das receitas são obtidos de uma API externa.</p>
    <p>Tecnologias Utilizadas: Angular, Bootstrap, API de Receitas</p>
    <p>Link para o Projeto: <a href="https://github.com/seu-usuario/aplicativo-de-receitas" target="_blank">https://github.com/Rhavell</a></p>
  </li>
</ul>